.github
.vscode
.dockerignore
.gitignore
jsconfig.json

counters-fontend/coverage
counters-fontend/node_modules
counters-fontend/build
counters-fontend/.dockerignore
counters-fontend/.gitignore
counters-fontend/junit.xml

counters-backend/build
counters-backend/mongo_data
counters-backend/node_modules
counters-backend/redis_data
counters-backend/.dockerignore
counters-backend/.env
counters-backend/.eslintignore
counters-backend/.eslintrc.js
counters-backend/.gitignore
counters-backend/Dockerfile
